/* CSS Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Norse Font */
@font-face {
    font-family: 'Norsebold';
    src: url('../src/Norsebold.otf');
}

:root {
    --main-color: white;
    --bg-color: rgb(200, 200, 200);
    --vertical-padding: 40px 0 40px 0;
    --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-flow: row;
}

.left {
    height: 100vh;
    width: 80vw;
    background: url('../src/photo-1782210887712-bb2501754070.avif');
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    color: var(--main-color);
    background: rgba(0, 0, 0, 0.5);
    font-size: 32px;
    font-family: 'Norsebold', 'Times New Roman', Times, serif;
    padding: 40px 0 40px 0;
}

.left div:last-child {
    display: flex;
    justify-content: center;
    margin-top: 60%;
    color: var(--main-color);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0 10px 0;
}

/* Change all link font color properties to default color */
.left div:last-child a:link,
.left div:last-child a:visited,
.left div:last-child a:hover,
.left div:last-child a:active {
    color: var(--main-color);
}

.banner img {
    width: auto;
    height: 25vh;
    margin-right: 32px;
}

.right {
    height: 100vh;
    background: var(--bg-color);
    padding: 130px;
    font-family: var(--main-font)
}

.sign-up > div {
    padding: var(--vertical-padding);
}

.right > div:last-child {
    padding: var(--vertical-padding);
}

.right > div:last-child button {
    margin-bottom: 1vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

form div{
    display: flex;
    flex-direction: column;
}

label, button {
    font-weight: bold;
}

input {
    width: 20vw;
    height: 32px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    font-family: var(--main-font);
    font-size: 16px;
}

input:focus {
    border-color: blue;
    outline: none;
}

input:user-invalid {
    border-color: red;
}

button {
    font-family: var(--main-font);
    font-size: 24px;
    padding: 15px 10px 15px 10px;
    color: var(--main-color);
    background: #759da5;
    border: 0px;
    border-radius: 10px;
    width: 15vw;
}

button:active {
    background: var(--main-color);
    color: #759da5;
    transition: 0.3s ease;
}