/* CSS Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Norse Font */
@font-face {
    font-family: 'Norsebold';
    src: url('../src/Norsebold.otf');
}

:root {
    --main-color: white;
    --sub-color: black;
    --bg-color: rgb(200, 200, 200);
}

.container {
    display: flex;
    flex-flow: row;
}

.left {
    height: 100vh;
    width: 80vw;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    color: var(--main-color);
    background: var(--sub-color);
    font-size: 32px;
    font-family: 'Norsebold', 'Times New Roman', Times, serif;
    padding: 40px 0 40px 0;
}

.banner img {
    width: auto;
    height: 25vh;
    margin-right: 32px;
}

.right {
    height: 100vh;
    background: var(--bg-color);
    padding: 130px;
}

.sign-up > div,
.right > div:last-child{
    margin: 40px 0 40px 0;
}

.right > div:last-child button {
    margin-bottom: 1vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

form div{
    display: flex;
    flex-direction: column;
}

input {
    width: 20vw;
}